
.container {
  div {
    margin-bottom: 20px;
  }
  .top-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    div {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
    .transition {
      background-color: palegoldenrod;
      transition: all 1s;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      -o-transition: all 0.1s;
    }
    
    .transition:hover {
      background-color: red;
    }
  
    .animation {
      animation: myMove 5s;
      -webkit-animation: myMove 5s;
      border: 1px solid red;
    }
  
    @keyframes myMove {
      0% {background-color: red;}
      50% {background-color: olive;}
      100% {background-color: purple;}
    }
  
    @-webkit-keyframes myMove {
      0% {background-color: red;}
      50% {background-color: olive;}
      100% {background-color: purple;}
    }
  
    .border {
      position: relative;
    }
    .border::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleY(0.5);
      transform-origin: 0 0;
      width: 100%;
      height: 1px;
      background-color: red;
    }
  
    .triangle {
      width: 0;
      height: 0;
      border: 30px solid;
      border-color: red transparent transparent;
    }
    
    .fan {
      border-radius: 100px 0 0 0;
      background-color: red;
    }
  }

  .flex-float {
    .left {
      width: 200px;
      background-color: red;
      float: left;
    }
    .right {
      overflow: hidden;
      background-color: rosybrown;
    }
  }
  .flex-position {
    position: relative;
    .left {
      width: 200px;
      background-color: red;
      position: absolute;
      left: 0;
      top: 0;
    }
    .right {
      width: auto;
      margin-left: 200px;
      background-color: rosybrown;
    }
  }
  
  .parent {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    .child {
      width: 100px;
      height: 100px;
      background-color: rosybrown;
    }
  }

  .parent-relative {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    .child {
      width: 100px;
      height: 100px;
      background-color: rosybrown;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}